In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [3]:
t_df = pd.read_csv("dataset/True.csv")
f_df = pd.read_csv("dataset/Fake.csv")
t_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
f_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
f_df["label"] = 0
t_df["label"] = 1

In [7]:
df = pd.concat([f_df, t_df], axis=0).reset_index(drop=True)

In [9]:
df = df.sample(frac = 1)
df.head()

,title,text,subject,date,label
11315,CRYBABY NANCY PELOSI Taunts Trump On Healthcar...,https://www.youtube.com/watch?v=SH0pRtK9sAE,politics,"Mar 24, 2017",0
23170,Boiler Room EP #83 – Wouldn’t It Be Nice…,Tune in to the Alternate Current Radio Network...,Middle-east,"November 10, 2016",0
7631,Fox Goes Full-Stupid: Planned Parenthood ‘Doe...,It s finally happened. The baby parts lie fa...,News,"March 7, 2016",0
39416,German Greens make stand on car emissions in c...,BERLIN (Reuters) - Germany s Greens said on We...,worldnews,"November 1, 2017",1
2481,Trump Claims He Inherited All The Problems He...,What would a Saturday morning in the Trump adm...,News,"February 18, 2017",0

In [10]:
df = df[['title', 'text', 'label']]
df.head()

,title,text,label
11315,CRYBABY NANCY PELOSI Taunts Trump On Healthcar...,https://www.youtube.com/watch?v=SH0pRtK9sAE,0
23170,Boiler Room EP #83 – Wouldn’t It Be Nice…,Tune in to the Alternate Current Radio Network...,0
7631,Fox Goes Full-Stupid: Planned Parenthood ‘Doe...,It s finally happened. The baby parts lie fa...,0
39416,German Greens make stand on car emissions in c...,BERLIN (Reuters) - Germany s Greens said on We...,1
2481,Trump Claims He Inherited All The Problems He...,What would a Saturday morning in the Trump adm...,0

In [11]:
df['combined_text'] = df['title'] + " " + df['text']
df.head()

,title,text,label,combined_text
11315,CRYBABY NANCY PELOSI Taunts Trump On Healthcar...,https://www.youtube.com/watch?v=SH0pRtK9sAE,0,CRYBABY NANCY PELOSI Taunts Trump On Healthcar...
23170,Boiler Room EP #83 – Wouldn’t It Be Nice…,Tune in to the Alternate Current Radio Network...,0,Boiler Room EP #83 – Wouldn’t It Be Nice… Tune...
7631,Fox Goes Full-Stupid: Planned Parenthood ‘Doe...,It s finally happened. The baby parts lie fa...,0,Fox Goes Full-Stupid: Planned Parenthood ‘Doe...
39416,German Greens make stand on car emissions in c...,BERLIN (Reuters) - Germany s Greens said on We...,1,German Greens make stand on car emissions in c...
2481,Trump Claims He Inherited All The Problems He...,What would a Saturday morning in the Trump adm...,0,Trump Claims He Inherited All The Problems He...

In [15]:
import nltk
from nltk.corpus import stopwords
from nltk.util import trigrams

nltk.download('stopwords')
nltk.download('punkt_tab')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sidda\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\sidda\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

In [16]:
def preprocess_text(text):
    tokens = nltk.word_tokenize(text.lower())
    tokens = [word for word in tokens if word.isalnum() and word not in stop_words]
    
    trigrams = list(nltk.trigrams(tokens))
    
    return ' '.join([' '.join(trigram) for trigram in trigrams])

In [17]:
df['processed_text']=df['combined_text'].apply(preprocess_text)
processed_df = df[['processed_text', 'label']]
processed_df.head()

                                          processed_text  label
11315  crybaby nancy pelosi nancy pelosi taunts pelos...      0
23170  boiler room ep room ep 83 ep 83 tune 83 tune a...      0
7631   fox goes planned goes planned parenthood plann...      0
39416  german greens make greens make stand make stan...      1
2481   trump claims inherited claims inherited proble...      0

In [18]:
x = df["processed_text"]
y = df["label"]

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier, LogisticRegression
from sklearn.ensemble import StackingClassifier, RandomForestClassifier

vectorization = TfidfVectorizer(max_df=0.7, max_features=5000)
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

base_models = [
    ('pa', PassiveAggressiveClassifier(max_iter=1000)),
    ('rf', RandomForestClassifier(n_estimators=100, random_state=42))
]

logistic_regression = LogisticRegression()

stack = StackingClassifier(
    estimators=base_models,
    final_estimator=logistic_regression,
    stack_method='auto'
)

In [21]:
stack.fit(xv_train, y_train)
y_pred = stack.predict(xv_test)

In [23]:
import joblib

joblib.dump(vectorization, 'vectorizer.pkl')
joblib.dump(stack, 'model.pkl')

['model.pkl']

In [24]:
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

for name, model in base_models:
    model.fit(xv_train, y_train)
    print(f"{name} Accuracy: {accuracy_score(y_test, model.predict(xv_test)):.2%}")

Accuracy: 0.9973273942093541
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4794
           1       1.00      1.00      1.00      4186

    accuracy                           1.00      8980
   macro avg       1.00      1.00      1.00      8980
weighted avg       1.00      1.00      1.00      8980

pa Accuracy: 99.28%
rf Accuracy: 99.71%

In [25]:
vec = joblib.load('vectorizer.pkl')
model = joblib.load('model.pkl')

text = ["Breaking news: a man dies in a train crash"]
text = vec.transform(text)
print("Prediction:", model.predict(text)[0])

Prediction: 0